<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item *ngFor="let hack of lsthackathons" (click)="affDetail(hack)">

      <ion-thumbnail slot="start">
          <img src="{{hack.posterUrl}}" />
      </ion-thumbnail>
      <ion-label>
          <h2>
              {{hack.title.toUpperCase()}}
          </h2>
          <p>
              {{hack.director}}
          </p>


      </ion-label>
      <ion-chip>{{hack.year}}</ion-chip>
  </ion-item>
  </div>
</ion-content>
