<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" icon="caret-back" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Détails Atelier</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" scrollEvents="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Détails Atelier</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h4>{{atelier.libelle}}</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>{{atelier.date}}</h1>
      <ion-item color="light" detail="true" class="rounded" lines="none">
        <ion-icon name="location" slot="start"></ion-icon>
        <ion-label>
          {{atelier.salle}}
          <p>Lieu</p>
        </ion-label>
      </ion-item>
      <ion-item color="light" detail="true" class="rounded" lines="none">
        <ion-icon name="time" slot="start"></ion-icon>
        <ion-label>
          {{atelier.heure}}
          <p>Heure</p>
        </ion-label>
      </ion-item>
      <ion-item color="light" detail="true" class="rounded" lines="none">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>
          {{atelier.nbInscrits}} / {{atelier.nbPlaces}}
          <p>Places occupées</p>
        </ion-label>
      </ion-item>
      <ion-button id="open-modal" expand="block" fill="solid" color="primary">
        Je m'inscris ! </ion-button><br />
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Annuler</ion-button>
              </ion-buttons>
              <ion-title>Inscription</ion-title>
              <ion-buttons slot="end">
                <ion-button [strong]="true"
                  (click)="onSubmit()"
                  [disabled]="ionicForm.invalid || ionicForm.pristine"
                  >Confirmer</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form [formGroup]="ionicForm">
              <ion-input type="email" formControlName="email" fill="solid" label="Email" labelPlacement="floating"
                helperText="Entrez un Email valide" errorText="Email invalide" required>
              </ion-input>
              <ion-input type="text" formControlName="nom" fill="solid" label="Nom" labelPlacement="floating"
                helperText="Entrez votre nom" errorText="Nom invalide" [counter]="true" [maxlength]="20" required>
              </ion-input>
              <ion-input type="text" formControlName="prenom" fill="solid" label="Prénom" labelPlacement="floating"
                helperText="Entrez votre prénom" errorText="Prénom invalide" [counter]="true" [maxlength]="20" required>
              </ion-input>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-alert trigger="present-alert" header="Attention" subHeader="Erreur" message="{{alertmsg}}" [buttons]="alertButtons" [isOpen]="showAlert"></ion-alert>
      <ion-toast trigger="present-toast" message="Vous êtes inscrits !" [duration]="3000" icon="checkmark-circle-outline" [isOpen]="showToast"></ion-toast>
      <ion-button (click)="addFav(atelier)" [color]="isFav ? 'danger' : 'primary'" expand="full" fill="clear">
        {{isFav ? 'Retirer des favorisㅤ' : 'Ajouter aux favorisㅤ'}}
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="showToast" routerLink="/home" expand="full" fill="solid" color="tertiary">
    Retour à l'accueil
  </ion-button>
</ion-content>
