//classe absolute
.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #1c1c1d;
}
//classe absolute2
.absolute2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #1c1c1d;
}



ion-card-content {
  padding: 0;
}
