<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hackathons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hackathons</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-item *ngFor="let hack of lsthackathons" (click)= "affDetailHack(hack)">

      <ion-thumbnail slot="start">
          <img src="{{hack.image}}" />
      </ion-thumbnail>
      <ion-label>
          <h2>
              {{hack.theme.toUpperCase()}}
          </h2>
          <p>
              {{hack.description}}
          </p>


      </ion-label>
      <ion-chip [outline]="true">Places: {{hack.nbPlaces}}</ion-chip>
  </ion-item>
</ion-content>
